<launch>

  <!-- turtlesim and joy node-->
  <node name="turtlesim" pkg="turtlesim" type="turtlesim_node"/>
  <node name="joy" pkg="joy" type="joy_node"/>

  <!-- button_listener node interfaces gamepad controller to turtlesim -->
  <node 
    name="joy_button_listener" 
    pkg="turtlesim_joy" 
    type="joy_button_listener.py" 
    output="screen"/>

</launch>